.form-check-input {
  background-color: #cdcdcd !important;
}
.form-check-input:focus,:checked {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.form-check-label {
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  text-transform: math-auto;
}
