.sidebar_box{
   /* height: calc(100vh - 70px); */
   height: calc(100vh);
   width: 100%;
   background-color: transparent;
   top: 70px !important;
   position: fixed;
}
.sidebar {
  position: relative;
  width: 240px;
  transition: all 0.2s ease-in-out;
  top: 0;
  left: -240px;
  transform: translateX(-240px);
  overflow-y: auto;
  background-color: #23364d;
}

.sidebar.open {
  left: 0;
  transform: translateX(0px);
  z-index: 3 !important;
}

.toggle-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;
  border-radius: 50%;
  box-shadow: 0 2px 8px #23364d;
}

.sidebar ul li:hover {
  background-color: #0d6efd;
  border-radius: 8px;
  transition: 0.3s;
}
.sidebar ul .active li {
  background-color: #0d6efd;
  border-radius: 8px;
  transition: 0.3s;
}

.button_box {
  background-color: #0d6efd;
  border-radius: 8px;
}

.content {
  margin-left: 0;
  transition: all 0.3s ease;
}

@media (min-width: 992px) {
  .sidebar.open {
    left: 0;
  }
  .toggle-btn {
    display: none;
  }
  .content {
    margin-left: 240px;
  }
}

.open_sidepar_icon {
  position: fixed;
  cursor: pointer;
  top: 50%;
  left: -8px;
  background-color: #23364d67 !important;
  color: #fff !important;
  border-radius: 0 20px 20px 0 !important;
  font-size: 20px;
  z-index: 9999;
  margin: auto;
}

@media (max-height: 510px) {
  .sidebar .side_box {
    justify-content: initial !important;
  }
}
