nav {
  height: fit-content !important;
  z-index: 99999;
  width: 100%;
  height: 70px !important;
}
.navbar {
  background-color: #23364d !important;
  padding: 35px 0;
}
.navbar .container{
  
}
.profile button {
  cursor: pointer;
  border-radius: 100%;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
}

.navbar-toggler:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.navbar .search_icon {
  cursor: pointer;
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }
}
