:root {
  --color-light-teal: #23364d;
  --color-dark-teal: #38b2ac;
  --text-color-main: #fff;
}

.login_box {
  height: 100vh;
  /* background-color: #fff; */
  z-index: 99999;

  background: linear-gradient(135deg, #1a1a2e, #16213e);
}

.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.login-container {
  background: rgba(255, 255, 255, 0.1);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.plus-icon {
  width: 40px;
  height: 40px;
  background: #23364d;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-main);
  font-size: 24px;
  font-weight: 300;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0 40px 0;
  text-align: center;
  padding-bottom: 20px;
}
.title_animation_1,
.title_animation_2 {
  color: var(--text-color-main);
}

.title_animation_1 {
  animation: title_fadein_1 0.6s ease-in-out;
}
.title_animation_2 {
  animation: title_fadein_2 0.6s ease-in-out;
}
@keyframes title_fadein_1 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes title_fadein_2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 12px;
  color: var(--text-color-main);
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transform: translateX(10px);
}

label {
  display: block;
  font-size: 12px;
  color: var(--text-color-main);
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
input {
  width: 100%;
  padding: 7px;
  border: 2px solid #757590;
  border-radius: 10px;
  font-size: 14px;
  transition: border-color 0.3s;
  background-color: #ffffffed;
}

input:focus {
  outline: none;
  border-color: #258183;
}

input.error {
  border-color: #ff4444;
  background-color: #fff5f5;
}

.error-message {
  color: #ff4444;
  font-size: 12px;
  margin-top: 5px;
  /* display: none; */
}

.error-message.show {
  display: block;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #5e5757;
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
}

.toggle-password:hover {
  color: #23364d;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 13px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
}

.remember-me input[type="checkbox"] {
  width: auto;
}

.forgot-password {
  color: #d9d4e7;
  text-decoration: none;
  transition: text-decoration 0.2s;
}
.forgot-password:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: #0d8379;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 20px;
}

.login-btn:hover {
  background: var(--color-dark-teal);
}

/* ******** Left section *********** */

#toggle-container {
  background-color: var(--color-light-teal);
  width: 90%;
  max-width: 220px;
  justify-content: center;
  box-shadow: -7px -7px 12px rgba(255, 255, 255, 0.9),
    7px 7px 12px rgba(179, 182, 185, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 20px auto;
}

#active-pill {
  position: absolute;
  top: 8px;
  bottom: 7px;
  left: 8px;
  background-color: var(--color-dark-teal);
  width: calc(50% - 12px);
  border-radius: 9999px;
  transition: all 0.4s ease-in-out;
  z-index: 10;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
}
.rounded-pill.move-right {
  left: calc(50% + 1px) !important;
}

.toggle-button {
  flex: 1;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 20;
  transition: color 0.4s ease-in-out;
  --bs-btn-border-color: transparent;
  --bs-btn-focus-shadow-rgb: none;
}

.active-text {
  color: white;
}

.inactive-text {
  color: var(--color-dark-teal);
}

.remember-me input[type="checkbox"],
.checkbox {
  accent-color: var(--color-dark-teal);
}
/* Start Handle Forms */
.forms_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.forms_box {
  display: flex;
  align-items: center;
  /* width: calc(200% - 20px); */
  width: 200%;
  transition: transform 0.6s ease-in-out;
}
.forms_box .form_box {
  position: relative;
  width: 50%;
  /* overflow: hidden; */
  padding: 0 10px;
}
.forms_box .form_box.login {
  transform: translateX(100%);
}
.forms_box .form_box.register {
  /* transform: translateX(-100%); */
}
.forms_box.slide_right {
  transform: translateX(-50%);
}
.forms_box.slide_left {
  transform: translateX(0%);
}
/* left section  */
.left-section {
  z-index: 9999;
  flex: 1;
  background: linear-gradient(135deg, #e8e8e8 0%, #d0d0d0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 0 15px 15px 0;
}

.characters-container {
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.character {
  position: absolute;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.character.face {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
/* Satrt orange */
.orange-half {
  width: 180px;
  height: 105px;
  background: #ff8844;
  border-radius: 180px 180px 0 0;
  bottom: 50px;
  left: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 25px;
  z-index: 5;
  overflow: hidden;

  animation: orangeStart 1s ease-in-out forwards;
}
@keyframes orangeStart {
  0% {
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }
  50% {
    border-radius: 90px 90px 0 0;
    width: 180px;
    height: 90px;
  }
  100% {
    border-radius: 180px 180px 0 0;
  }
}
.orange-half.active {
  width: 280px;
  height: 150px;
  background: #ff8844;
  border-radius: 180px 180px 0 0;
  bottom: 50px;
  left: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 25px;
  z-index: 5;
  overflow: hidden;
  animation: orangeStartActive 8s ease-in-out forwards;
}
@keyframes orangeStartActive {
  0% {
    width: 200px;
    height: 105px;
  }
  50% {
    width: 200px;
    height: 105px;
  }
  100% {
    width: 280px;
    height: 150px;
  }
}
.orange-half .eyes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  top: 10px;
}

.orange-half .eyes .eye {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  /* transition: transform 0.3s ease-in-out; */
  animation: blinking 3s infinite ease-in-out;
  animation-delay: calc(1s * var(--blink-delay, 0));
  transform: var(--eye-transform, translate(0, 0)) scaleY(var(--eye-scale, 1));
  transform-origin: center center;
}

@keyframes blinking {
  0%,
  90%,
  100% {
    --eye-scale: 1;
  }
  95% {
    --eye-scale: 0.1;
  }
}

.orange-half .mouth {
  position: absolute;
  background-color: #000;
  width: 30px;
  height: 13px;
  top: 60px;
  border-radius: 0 0 12.5px 12.5px;
  transition: 0.5s;
  /* animation: talk 3s infinite ease-in-out; */
  /* animation-delay: calc(1s * var(--blink-delay, 0)); */
}

@keyframes talk {
  0%,
  100% {
    height: 15px;
    border-radius: 0 0 50px 50px;
  }
  50% {
    height: 10px;
    border-radius: 50%;
  }
}

.orange-half.active:hover .mouth {
  width: 20px;
  height: 15px;
  transform: translateX(20px);
  border-radius: 100%;
}
/* .orange-half::before {
  content: "- -";
  font-size: 20px;
  color: #cc5522;
  letter-spacing: 8px;
} */
.head {
  z-index: 9999;
}
/* End orange */
/* start  blue */
.purple-rect {
  width: 80px;
  height: 170px;
  background: #6633ff;
  bottom: 50px;
  left: 90px;
  border-radius: 1px;
  /* position: relative; */
}

.blue_head {
  position: absolute;
  width: 100%;
  height: 70px;
  background: #6633ff;
  top: 0px;
  left: 0px;
  border: #6633ff solid 5px;
  transition: top 0.5s, left 0.7s 0.1s;
}
.blue_head .mouth_blue {
  position: absolute;
  background-color: #000;
  width: 30px;
  height: 2px;
  top: 40px;
  left: 25px;
  border-radius: 0 0 12.5px 12.5px;
  transition: 0.3s;
}
.blue_head .mouth_blue.active {
  width: 2px;
  height: 25px;
  top: 20px;
  left: 50%;
}
.blue_head .eye {
  border: solid 1.5px black;
  top: 10px;
}

/* .blue_head.active { */
.blue_head.active {
  transform: skew(347deg, 10deg);
  top: -63px;
  left: 7.5px;
}

.purple-rect .eyes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  top: 10px;
}
.purple-rect .eyes .eye {
  width: 10px;
  height: 10px;
  /* background-color: black; */
  border-radius: 50%;
  position: relative;
  /* transition: transform 0.3s ease-in-out; */
  animation: blinking 3s infinite ease-in-out;
  animation-delay: calc(1s * var(--blink-delay, 0));
  transform: var(--eye-transform, translate(0, 0)) scaleY(var(--eye-scale, 1));
  transform-origin: center center;
}

.purple-rect .mouth {
  position: absolute;
  background-color: #000;
  width: 30px;
  height: 12px;
  top: 60px;
  border-radius: 0 0 12.5px 12.5px;
  transition: 0.5s;
}

.purple-rect.active:hover .mouth_blue {
  width: 20px;
  height: 15px;
  transform: translateX(20px);
  border-radius: 100%;
}
/* End blue */
/* Satrt black */

.black-rect {
  position: absolute;
  width: 70px;
  height: 120px;
  background: #2a2a2a;
  bottom: 50px;
  left: 150px;
  z-index: 3;
}
.black-rect .eyes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: 15px;
}
.black-rect .eyes .eye {
  border-radius: 50%;
  position: relative;
  animation: blinking 3s infinite ease-in-out;
  animation-delay: calc(1s * var(--blink-delay, 0));
  transform: var(--eye-transform, translate(0, 0)) scaleY(var(--eye-scale, 1));
  transform-origin: center center;
}

.black-rect .mouth_yellow {
  position: absolute;
  background-color: #000;
  width: 20px;
  height: 5px;
  top: 40px;
  left: 50px;
  border-radius: 5px;
  transition: 0.5s;
}

.black-rect.active:hover .mouth_blue {
  width: 20px;
  height: 15px;
  transform: translateX(20px);
  border-radius: 100%;
}
/* End black */

/* start yellow */
.yellow-pill {
  position: absolute;
  width: 70px;
  height: 90px;
  background: #ffd43b;
  bottom: 50px;
  right: 30px;
  border-radius: 35px 35px 0 0;
  z-index: 4;
}

.yellow-pill .eyes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  top: 15px;
}
.yellow-pill .eyes .eye {
  border-radius: 50%;
  position: relative;
  animation: blinking 3s infinite ease-in-out;
  animation-delay: calc(1s * var(--blink-delay, 0));
  transform: var(--eye-transform, translate(0, 0)) scaleY(var(--eye-scale, 1));
  transform-origin: center center;
  border: 2px solid #fff;
}

.yellow-pill .mouth_yellow {
  position: absolute;
  background-color: #000;
  width: 20px;
  height: 5px;
  top: 40px;
  left: 50px;
  border-radius: 5px;
  transition: 0.5s;
}

.yellow-pill.active:hover .mouth_blue {
  width: 20px;
  height: 15px;
  transform: translateX(20px);
  border-radius: 100%;
}
/* end yellow */

/* **************************************  Start Right section ******************************************* */

.form_box {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: 300px;
}
